# R
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj

# Project-specific
cached
cached_surveillance
mcmc_runs

# User-specific
## joeflack4
_dev

# Project-specific
/temp/
*git-ignored/

# OS-specific
.DS_Store
